:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  max-width: 60rem;
  padding: 2rem;
}

.subtitle {
  color: gray;
}

footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: gray;
}
